<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./src/Testing</directory>
      <file>./src/Locale/States.php</file>
      <file>./src/Testing/ApplicationTestCase.php</file>
      <file>./src/Database/SoftDeletingScope.php</file>
      <file>./src/Database/SoftDeletingTrait.php</file>
    </exclude>
    <report>
      <html outputDirectory="./report" lowUpperBound="50" highLowerBound="80"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
